<div data-container="true" id="starter" draggable="true" class=""><div class="component-holder ng-binding ng-scope" data-component="crn-title" id="crn-title-582064"><p class="lead text-left">Colaboradores</p></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-555025"><div class="form-group">
	<label for="exampleInputEmail1" class="">CRO</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-radiogroup" id="crn-radiogroup-891371"><div class="form-group" ng-model="">
  <div class="radio active">
    <label class="" crn-value="" value="Value One">
      <input type="radio" name="optionsRadios" id="optionsRadios2">
      <span class="">Masculino</span>
    </label>
  </div>
  <div class="radio">
    <label class="" crn-value="{ 'complex' : 'Complex Object Sample' }">
      <input type="radio" name="optionsRadios" id="optionsRadios2">
      <span class="" data-container="true" draggable="true">Feminino</span>
    </label>
  </div>
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-datepicker" id="crn-datepicker-359510"><div class="form-group">
	<label for="exampleInputDate" class="">Data:</label>
	<div style="position:relative">
  <input type="text" as-date="" format="DD/MM/YYYY" ng-model="">
  </div>
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-535037"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true" class=""><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-557067"><div class="form-group">
	<label for="exampleInputEmail1" class="">CPF:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-681492"><div class="form-group">
	<label for="exampleInputEmail1" class="">RG:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-924628"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-199567"><div class="form-group">
	<label for="exampleInputEmail1" class="">Telefone:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-199567"><div class="form-group">
	<label for="exampleInputEmail1" class="">Celular:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-955345"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-199567"><div class="form-group">
	<label for="exampleInputEmail1" class="">Cidade:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-12773"><div class="form-group">
	<label for="exampleInputEmail1" class="">Estado:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-663912"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-967426"><div class="form-group">
	<label for="exampleInputEmail1" class="">CEP:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-584544"><div class="form-group">
	<label for="exampleInputEmail1" class="">Bairro:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-227917"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-683875"><div class="form-group">
	<label for="exampleInputEmail1" class="">Logradouro:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-595905"><div class="form-group">
	<label for="exampleInputEmail1" class="">Numero:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div>
<table class="table  table-bordered table-hover">
   
    <thead>
      <tr class="table-header">
        
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true" class="">Silvana Aparecida C. Bergonato CPF:XXX-XXX-XXX-XX</div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true" class="">Data de admissão: XX/XX/XXXX</div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true" class="">Data de demissão:</div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true" class="">Função: Ortondontia</div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        
        <th><div data-container="true" draggable="true">Lucia Santos   CPF: XXX.XXX.XXX-XX</div></th>
      </tr>
    </thead>
    
        <thead>
      <tr class="table-header">
        
        <th><div data-container="true" draggable="true">Data de admissão: XX/XX/XXXX</div></th>
      </tr>
    </thead>
    
        <thead>
      <tr class="table-header">
        
        <th><div data-container="true" draggable="true">Data de demissão:</div></th>
      </tr>
    </thead>    

        <thead>
      <tr class="table-header">
        
        <th><div data-container="true" draggable="true">Função: Recepcionista</div></th>
      </tr>
    </thead>    


  </table>


</div>