<div data-container="true" id="starter" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-title" id="crn-title-984284"><p class="lead text-left">Consultas</p></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-149399"><div class="row">
        <div class="column col-md-4"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-390066"><div class="form-group">
	<label for="exampleInputEmail1" class="">Paciente:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-424766"><div class="form-group">
	<label for="exampleInputEmail1" class="">Responsavel:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-754443"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-1007015"><div class="form-group">
	<label for="exampleInputEmail1" class="">Funcionario:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-33454"><div class="form-group">
	<label for="exampleInputEmail1" class="">CPF Responsavel:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-729460"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-740002"><div class="form-group">
	<label for="exampleInputEmail1" class="">Consulta:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-datepicker" id="crn-datepicker-160595"></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-707310"><div class="form-group">
	<label for="exampleInputEmail1" class="">RG Responsavel:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-datetimepicker" id="crn-datetimepicker-146225"><div class="form-group">
	<label for="exampleInputDate" class="">Data e Horário da consulta:</label>
	<div style="position:relative">
  <input type="text" as-date="" format="DD/MM/YYYY HH:mm:ss" ng-model="">
  </div>
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-1064339"><div class="form-group">
	<label for="exampleInputEmail1" class="">Descrição:</label>
	<input type="text-area" ng-model="" class="form-control" id="textinput-id2" placeholder="Placeholder text">
</div></div></div>