<div data-container="true" id="starter" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-827122"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-datepicker" id="crn-datepicker-609549"><div class="form-group">
	<label for="exampleInputDate" class="">Data do estoque:</label>
	<div style="position:relative">
  <input type="text" as-date="" format="DD/MM/YYYY" ng-model="">
  </div>
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-873645"><div class="form-group">
	<label for="exampleInputEmail1" class="">Filtro:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div>
      
      
<table class="table  table-bordered table-hover">
   
    <thead>
      <tr class="table-header">
        
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true" class="">Mes</div></th>
        <th><div data-container="true" draggable="true">Ano</div></th>
                <th class="active"><div data-container="true" draggable="true">Nº Doc</div></th>
        <th><div data-container="true" draggable="true">Tipo</div></th>
                <th class="active"><div data-container="true" draggable="true">Valor</div></th>
        <th><div data-container="true" draggable="true">Vencimento</div></th>
                <th class="active"><div data-container="true" draggable="true">Dt Pg</div></th>
        <th><div data-container="true" draggable="true">Situação</div></th>
      </tr>
    </thead>

    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    


  </table>      
      
      
      
</div>