<div data-container="true" id="starter" draggable="true" class=""><div class="component-holder ng-binding ng-scope" data-component="crn-title" id="crn-title-879153"><p class="lead text-left lead.text-left">Cadastro de Pacientes</p></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-836494"><div class="form-group">
	<label for="exampleInputEmail1" class="">Matricula:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-356957"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-272093"><div class="form-group">
	<label for="exampleInputEmail1" class="">Nome completo:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-391521"><div class="form-group">
	<label for="" class="">Sexo:</label>
	<ui-select crn-datasource="{{ Masculino }}" ng-model="" ng-disabled="disabled" theme="bootstrap" class="crn-select"> 
    <ui-select-match placeholder="Select..." class="">Masculino</ui-select-match> 
    <ui-select-choices repeat="rowData as rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay=""> 
      <div class="" data-container="true" draggable="true">Feminino</div> 
    </ui-select-choices> 
  </ui-select>
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-659694"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-457341"><div class="form-group">
	<label for="exampleInputEmail1" class="">CPF:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-980678"><div class="form-group">
	<label for="exampleInputEmail1" class="">RG:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-973773"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-638833"><div class="form-group">
	<label for="exampleInputEmail1" class="">ID convenio:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-851967"><div class="form-group">
	<label for="" class="">Convenio:</label>
	<ui-select crn-datasource="" ng-model="" ng-disabled="disabled" theme="bootstrap" class="crn-select"> 
    <ui-select-match placeholder="Select..." class="">Unimed</ui-select-match> 
    <ui-select-choices repeat="rowData as rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay=""> 
      <div class="" data-container="true" draggable="true">Medial</div> 
    </ui-select-choices> 
  </ui-select>
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-118298"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-917099"><div class="form-group">
	<label for="exampleInputEmail1" class="">Telefone fixo:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-362176"><div class="form-group">
	<label for="exampleInputEmail1" class="">Celular:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-834136"><div class="form-group">
	<label for="exampleInputEmail1" class="">Email:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-339812"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-288786"><div class="form-group">
	<label for="exampleInputEmail1" class="">Cidade:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-561655"><div class="form-group">
	<label for="exampleInputEmail1" class="">Estado:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-936777"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-835015"><div class="form-group">
	<label for="exampleInputEmail1" class="">CEP:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-680913"><div class="form-group">
	<label for="exampleInputEmail1" class="">Numero:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-468574"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-358271"><div class="form-group">
	<label for="exampleInputEmail1" class="">Bairro:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-385424"><div class="form-group">
	<label for="exampleInputEmail1" class="">Logradouro:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div>
      
      <table class="table  table-bordered table-hover">
   
    <thead>
      <tr class="table-header">
        
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true" class="">Andreia Soares</div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true" class="">Bruno Henrique Muniz</div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true" class="">Renata Lima Marques</div></th>
      </tr>
    </thead>   


  </table>
      
      
      </div>