<div data-container="true" id="starter" draggable="true" class=""><div class="component-holder ng-binding ng-scope" data-component="crn-title" id="crn-title-983082"><p class="lead text-left lead.text-left lead.text-left.lead.text-left">Contas a Pagar</p></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-656194"><div class="form-group">
	<label for="exampleInputEmail1" class="">CNPJ do fornecedor:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-779111"><div class="form-group">
	<label for="exampleInputEmail1" class="">ID da conta:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-691022"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-889129"><div class="form-group">
	<label for="exampleInputEmail1" class="">Numero do documento:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-259435"><div class="form-group">
	<label for="exampleInputEmail1" class="">Tipo:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-datepicker" id="crn-datepicker-705734"><div class="form-group">
	<label for="exampleInputDate" class="">Data do vencimento:</label>
	<div style="position:relative">
  <input type="text" as-date="" format="DD/MM/YYYY" ng-model="">
  </div>
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-527044"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-792304"><div class="form-group">
	<label for="exampleInputEmail1" class="">Valor:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-datepicker" id="crn-datepicker-225745"><div class="form-group">
	<label for="exampleInputDate" class="">Data do pagamento:</label>
	<div style="position:relative">
  <input type="text" as-date="" format="DD/MM/YYYY" ng-model="">
  </div>
</div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-751667"><div class="form-group">
	
	
</div></div></div><div class="component-holder ng-binding ng-scope" data-component="crn-grid" id="crn-grid-449047"><div crn-datasource="">
  <table class="table  table-bordered table-hover">
   
    <thead>
      <tr class="table-header">
        
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true" class="">Mes</div></th>
        <th><div data-container="true" draggable="true">Ano</div></th>
                <th class="active"><div data-container="true" draggable="true">Nº Doc</div></th>
        <th><div data-container="true" draggable="true">Tipo</div></th>
                <th class="active"><div data-container="true" draggable="true">Valor</div></th>
        <th><div data-container="true" draggable="true">Vencimento</div></th>
                <th class="active"><div data-container="true" draggable="true">Dt Pg</div></th>
        <th><div data-container="true" draggable="true">Situação</div></th>
      </tr>
    </thead>

    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    


  </table>

</div></div></div>