<div data-container="true" id="starter" draggable="true" class=""><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-207221"><div class="row">
        <div class="column col-md-4"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-908332"><div class="form-group">
	<label for="exampleInputEmail1" class="">Codigo:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-358066"><div class="form-group">
	<label for="exampleInputEmail1" class="">Especificação</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-536467"><div class="form-group">
	<label for="exampleInputEmail1" class="">Marca:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-961794"><div class="form-group">
	<label for="exampleInputEmail1" class="">Fornecedor:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-989841"><div class="form-group">
	<label for="exampleInputEmail1" class="">Garantia:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-538196"></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-780260"><div class="form-group">
	<label for="exampleInputEmail1" class="">Descrição:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
      </div></div></div>