<div data-container="true" id="starter" draggable="true" class=""><div class="component-holder ng-binding ng-scope" data-component="crn-title" id="crn-title-764916"><p class="lead text-left lead.text-left">Contas a Receber</p></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-113235"><div class="form-group">
	<label for="exampleInputEmail1" class="">ID Conta:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-215113"><div class="form-group">
	<label for="exampleInputEmail1" class="">ID Paciente:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-61124"><div class="form-group">
	<label for="exampleInputEmail1" class="">Valor:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-669730"><div class="form-group">
	<label for="exampleInputEmail1" class="">Juros:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" id="crn-horizontal-container-577690"><div class="row">
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-206182"><div class="form-group">
	<label for="exampleInputEmail1" class="">Valor:</label>
	<input type="text" ng-model="" class="form-control" id="textinput-id" placeholder="Placeholder text">
</div></div></div></div>
        <div class="column col-md-4"><div data-container="true" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-406106"><div class="component-holder ng-binding ng-scope" data-component="crn-tags" id="crn-tags-493883"><div class="form-group"> 
  <label for="" class="">Pago:</label> 
  <ui-select multiple="" crn-datasource="" ng-model="" theme="bootstrap" ng-disabled="disabled" class="crn-select"> 
    <ui-select-match placeholder="Select person..." class="">não</ui-select-match> 
    <ui-select-choices repeat="rowData as rowData in datasource.data | filter : $select.search" class=""> 
      <div class="" data-container="true" draggable="true">sim</div> 
    </ui-select-choices> 
  </ui-select> 
</div></div></div></div></div>
      </div></div><div class="component-holder ng-binding ng-scope" data-component="crn-grid" id="crn-grid-1035762"><div crn-datasource="">
  <table class="table  table-bordered table-hover">
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true">Nome</div></th>
        <th><div data-container="true" draggable="true">Dt Recebimento</div></th>
        <th><div data-container="true" draggable="true">Dt Conta</div></th>
        <th><div data-container="true" draggable="true">Valor</div></th>
        <th><div data-container="true" draggable="true">Juros</div></th>
        <th><div data-container="true" draggable="true">Pago</div></th>
        
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead>    
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead>    
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
    
  </table>

</div></div></div>