/* Your css code goes here */

span { 
}

.form-group { 
  width: 300px;
  letter-spacing: 0px;
}

.row { 
}

#textinput-id.form-control { 
  width: 400px;
  height: 35px;
}

#crn-textinput-1064339.component-holder.ng-binding.ng-scope { 
  height: 181px;
}

.lead.text-left

.lead.text-left { 
  font-size: 39px;
  text-align: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}